    <nav>
      <ul class="menu">
        <li class="dropdown">
          <span class="menu-title">Play</span>
          <ul class="dropdown-content">
            <li>Points Play</li>
            <li>Replay Mistakes</li>
          </ul>
        </li>
        <li class="dropdown">
          <span class="menu-title">Tools</span>
          <ul class="dropdown-content">
            <li>Game Archives</li>
            <li>Analysis Board</li>
            <li>Cron Logs</li>
          </ul>
        </li>
      </ul>
    </nav>
