<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <header class="navbar">
  <div class="left-group">
    <%- include('partials/logo') %> 
  </div>
  </header>
   <div class="formcontainer">
    <div class="card">
      <%- include('partials/error') %>
      <div class="divider"></div>
      <span class="active"><h3>Add Account</h3></span>
      <form action="/add_account" method="POST">
        <label>User Name</label>
        <input type="text" id="userName" name="userName" placeholder="">
        <label>Platform</label>
        <select id="platform" name="platform" required>
          <option value="" disabled selected>--select platform--</option>
          <option value="lichess">lichess.org</option>
          <option value="chess_com">chess.com</option>
        </select>
        <div class="divider"></div>
        <div class="button-group">
          <button type="submit" name="action" value="cancel" class="cancel">Cancel</button>
          <button type="submit" name="action" value="submit" class="submit">Add Account</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
